@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiant-bg {
  background-image: linear-gradient(
    to bottom,
    #d9d9d9 10%,
    #b499c1 30%,
    #c89edd 90%
  );
}
/* body{
    background-color: rgb(46, 24, 46);
    color: white;
} */
:root {
  font-family: "Inter", sans-serif;
  font-size: 19px;
}
@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.25s ease;
}
